* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Major Mono Display', monospace;
}

p {
    line-height: 1.5rem;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

#hero-home-screen h1 {
    font-size: 3rem;
    width: 300px;
}

#detail-content h2, 
#hiking-content h2,
#campground-content h2 {
    font-size: 1.625rem;
}

#hero-home-screen h2,
#home-content h3 {
    font-size: 1.4rem;
}

#detail-content h3 {
    font-size: 1.2rem;
    color: #222622;
}

.weather-forecast .day {
    font-size: 1rem;
}

.weather-forecast .temps {
    font-size: 0.8rem;
}

.center {
    text-align: center;
}

.error-message {
    color: red;
    font-weight: 700;
}

#hero-home-screen {
    width: 100vw;
    height: 100vh;

    text-align: center;

    background: linear-gradient(
                    rgba(20,20,20, .5), 
                    rgba(20,20,20, .5)),
                    url(../assets/hero-image-1.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#hero-inner {
    height: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding: 20px;
}

#hero-home-screen h1,
#hero-home-screen h2 {
    color: #FFFFFF;
}

#hero-home-screen h2 {
    position: relative;
    top: 20px;
}

#next-link {
    color: #F4B434;
}

#home-content {
    padding: 5% 20px;
    background-color: #FFFFFF;
}

#home-content h3 {
    color: #222622;
    margin-bottom: 10px;
}

#app-description span {
    font-weight: 700;
}

.parks-form {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.select2 {
    margin: 5px 0 !important;
}

#home-content .select2 {
    max-width: 100% !important;
}

#explore-button {
    margin-top: 5px;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 10px;

    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #222622;
    opacity: 1;

    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button:hover {    
    opacity: 0.8;
}

#detail-screen-heading {
    height: 64px;
    width: 100%;
    padding: 0 15px;

    position: fixed;
    top: 0;
    z-index: 999;

    background-color: #222622;

    display: flex;
    align-items: center;
}

#detail-screen-heading h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 240px;
    margin: 0;

    font-size: 1.1rem;
    color: #F4B434;
}

#home-link {
    text-decoration: none;
}

.menu-button {
    cursor: pointer;
    outline: 0;
    color: #F4B434;
}

#search {
    position: absolute;
    top: 63px;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    background: #222622;
}

#search .select2 {
    width: 90% !important;
    max-width: 90% !important;
}

#search .parks-form {
    width: 100%;
    margin-bottom: 20px;
}

#search .fa-search-location {
    display: none;
}

#search .label-text {
    font-size: 1rem;
    color: #FFFFFF;    
}

#detail-content {
    min-height: -webkit-calc(100vh - 64px);
    min-height: expression(100vh - 64px);
    min-height: -moz-calc(100vh - 64px);
    min-height: -o-calc(100vh - 64px);
    min-height: calc(100vh - 64px);

    padding-top: 85px;

    display: flex;
    flex-direction: column;
    
    background-color: white;
}

#detail-content h2 {
    padding: 0 20px;
    color: #222622;
}

#detail-content h3 {
    margin-bottom: 5px;
}

#detail-content p {
    word-wrap: break-word;
}

.detail-section {
    padding: 20px 20px;
    background-color: white; 
}

.detail-section:nth-child(odd) {
    background-color: #EEEEEE;   
}

.state {
    margin-bottom: 20px;
}

.park-image {
    display: block;
    margin: auto;
    border-radius: 8px;
}

.daily-weather-container {
    padding: 0;
}

.daily-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.temps .high {
    color: #878787;
}

.temps .low {
    color: #bababa;
}

.weather-icon {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-button {
    margin-top: 20px;
    width: 200px;
}

#hiking-content,
#campground-content {
    min-height: -webkit-calc(100vh - 64px);
    min-height: expression(100vh - 64px);
    min-height: -moz-calc(100vh - 64px);
    min-height: -o-calc(100vh - 64px);
    min-height: calc(100vh - 64px);

    padding: 85px 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#hiking-content h2,
#campground-content h2 {
    margin: 0 10px 20px 10px;
}

#hiking-content li,
#campground-content li{
    padding: 20px 5%;
    list-style-type: none;
    background-color: white;   
}

#hiking-content li:nth-child(odd),
#campground-content li:nth-child(odd) {
    background-color:#EEEEEE;   
}

#trails-list p {
    margin: 10px 0;
}

#campgrounds-list p {
    margin-top: 10px;
}

.back-button {
    margin: auto;
    width: max-content;
    margin-top: 20px;
}

footer {
    height: 64px;
    padding: 5px 20px;

    font-size: 0.9rem;
    color: #F4B434;
    background-color: #222622;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#contact-links a {
    display: inline-block;
    text-decoration: none;
    margin: 0px 5px;
    color: #F4B434;
}

#contact-links a:hover {
    opacity: 0.6;
}

img {
    max-width: 100%;
}

.hidden {
    display: none !important;
}

@media (min-height: 800px) and (min-width: 375px) {
    #hero-home-screen h2 {
        top: 70px;
    }
}

@media screen and (min-width: 700px) {
    #home-content {
        padding: 5% 15%;
    }

    #home-content h3 {
        font-size: 1.6rem;
    }

    footer {
        font-size: 1rem;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    #contact-links {
        padding-left: 20px;
    }
    
    #detail-screen-heading h1 {
        font-size: 1.3rem;
        width: 350px;
    }

    #search .select2 {
        width: 50% !important;
        max-width: 50% !important;
    }

    .detail-section {
        padding: 20px 10%;
    }

    #hiking-content,
    #campground-content {
        padding: 85px 0;
    }

    #hiking-content li,
    #campground-content li {
        text-align: center;
        padding: 20px 10%;
    }

    .daily-weather-container {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin-top: 15px;
    }

    .daily-weather {
        padding: 0px;
        margin: 0px;
    }

    .buttons-container {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }

    #hero-home-screen h1 {
        width: 400px;
        font-size: 3.5rem;
    }

    #hero-home-screen h2 {
        top: 20px;
    }

    #home-content {
        padding: 5% 25%;
    }

    #home-content .select2 {
        max-width: 60% !important;
    }

    #detail-screen-heading {
        padding: 0 15px;
        height: 64px;
        justify-content: space-between;
    }
    
    #detail-screen-heading h1 {
        position: relative;
        width: auto;
        left: 0;
        top: 0;
        transform: none;

        font-size: 2rem;
    }

    #search {
        position: relative;
        flex-direction: row;
        top: 0;
        width: max-content;
        background: none;
    }

    #search .parks-form {
        flex-direction: row;
        margin: 0;
    }

    #search .fa-search-location {
        display: inline;
        color: #F4B434;
        padding: 2px 5px 0 0;
    }

    #search .label-text {
        display: none;
    }

    #search .select2 {
        width: 350px !important;
        max-width: 100% !important;
        margin: 0 !important;
    }

    main {
        background: linear-gradient(
            rgba(20,20,20, .5), 
            rgba(20,20,20, .5)),
            url(../assets/hero-image-1.jpeg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .nps-error-message {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        background-color: white;
        border-radius: 8px;
        padding: 20px 40px;
    }

    #detail-content {
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1max-content 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: transparent;
    }

    #detail-content h2 {
        color: #FFFFFF;
        grid-row: 1;
        grid-column: span 2;
        margin: auto;
        width: 40%;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 2.5rem;
    }

    #detail-content h3 {
        font-size: 1.3rem;
    }

    .detail-section {
        padding: 20px 20px;
        background-color: white !important;
    }

    .detail-section h3 {
        font-size: 1.2rem;
    }

    #park-image-container {
        margin: 0;
        grid-column: 1;
        grid-row: 2;
        border-top-left-radius: 8px; 
    }

    #basic-details {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-top-right-radius: 8px; 
    }

    .state {
        margin-bottom: 0px;
    }

    #weather-details {
        grid-column: 1;
        grid-row: 3;  
        margin-bottom: 115px;
        border-bottom-left-radius: 8px;     
    }

    .daily-weather-container {
        justify-content: space-between;
        padding: 0;
    }

    .weather-forecast .temps {
        font-size: 0.9rem;
    }

    #directions-and-more {
        grid-column: 2;
        grid-row: 3;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        margin-bottom: 115px;  
        border-bottom-right-radius: 8px;       
    }

    .buttons-container {
        height: 100%;
    }

    .detail-button {
        margin-top: 0;
    }

    #hiking-content,
    #campground-content {
        padding: 85px 25%;
        background-color: transparent;
    }

    #hiking-content h2,
    #campground-content h2 {
        color: #FFFFFF;
        font-size: 2.5rem;
    }

    #hiking-content li,
    #campground-content li {
        margin: 20px;
        padding: 20px;
        border-radius: 8px;
    }

    footer {
        font-size: 1.2rem;
    }
}

@media (min-height: 800px) and (min-width: 1200px) {
    #hero-home-screen h1 {    
        position: relative;
        top: 50px;
    }

    #hero-home-screen h2 {    
        top: 70px;
    }
}

@media screen and (min-width: 1600px) {
    #detail-content {
        margin: auto;
        width: 80%;
    }

    #home-content {
        padding: 5% 30%;
    }
}