* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.hero-home-screen {
    width: 100vw;
    height: 100vh;

    text-align: center;

    background-color: grey;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-inner {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, .hero-home-screen h2 {
    position: absolute;
}

h1 {
    top: 20px;
    font-family: 'Major Mono Display', monospace;
    font-size: 2.5rem;
}

.hero-home-screen h2,
.detail-content h2,
.detail-content h3,
footer {
    font-family: 'Merriweather', serif;
}

.hero-home-screen h2,
.detail-content h2 {
    font-size: 1.5rem;
}

.hero-home-screen h2 {
    width: 80%;
    top: 50%;
    font-weight: 400;
}

.detail-content h2 {
    text-align: center;
    padding: 0 20px;
    font-weight: 700;
}

.detail-content h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.home-content {
    padding: 40px 20px;
    background-color: lightgrey;
}

.parks-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search .parks-form {
    width: 100%;
    margin-bottom: 20px;
}

.home-content .select2 {
    max-width: 100% !important;
    margin: 5px 0 !important;
}

#search .select2 {
    width: 90% !important;
    max-width: 90% !important;
    margin: 5px 0 !important;
}

.parks-form label,
.parks-form input {
    padding: 5px;
}

.detail-screen-heading {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: grey;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 64px;
}

.menu-button {
    cursor: pointer;
    align-self: center;
    outline: 0;
    color: black;
    font-size: 1.3rem;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    background: grey;
}

.detail-screen-heading h1 {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    margin: 0;
}

.detail-content {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.detail-content p {
    word-wrap: break-word;
}

.detail-section {
    padding: 20px 20px;
    background-color: white;    
}

.detail-section:nth-child(odd) {
    background-color: lightgrey;   
}

.state {
    margin-bottom: 20px;
}

.park-image-container {
    margin: auto;
}

.park-image {
    display: block;
    border-radius: 8px;
}

.weather-forecast .temps {
    font-size: 0.8rem;
}

.daily-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;  
    padding: 10px;
}

.weather-icon {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.buttons-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.detail-button {
    padding: 5px;
}

img {
    max-width: 100%;
}

footer {
    height: 64px;
    font-weight: 700;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

@media screen and (min-width: 375px) {
    h1 {
       font-size: 3.125rem; 
    }

    .detail-screen-heading h1 {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.875rem;
    }
}

@media (min-height: 800px) and (min-width: 375px) {
    h1 {
       top: 40px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    .detail-screen-heading {
        padding: 0 15px;
        height: 64px;
        justify-content: space-between;
    }
    
    .detail-screen-heading h1 {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
    }

    #search {
        position: relative;
        flex-direction: row;
        top: 0;
        width: max-content;
    }

    #search .parks-form {
        flex-direction: row;
        margin: 0;
    }

    #search label {
        padding: 0;
        width: 160px !important;
    }

    #search .select2 {
        width: 350px !important;
        margin: 0 !important;
    }

    .detail-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1max-content 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: white;
    }

    .detail-screen-heading h1 {
        font-size: 2rem;
    }

    .detail-content h2 {
        grid-row: 1;
        grid-column: span 2;
        text-align: center;
        padding-bottom: 20px;
        font-size: 2.5rem;
    }

    .basic-details {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .state {
        margin-bottom: 0px;
    }

    .park-image-container {
        margin: 0;
        grid-column: 1;
        grid-row: 2;
        background-color: lightgrey;   
    }

    .weather-details {
        grid-column: 1;
        grid-row: 3;  
        background-color: white;     
    }


    .directions-and-more {
        grid-column: 2;
        grid-row: 3; 
        background-color: white !important;      
    }

    .home-content {
        padding: 5% 20%;
    }

    .home-content .select2 {
        max-width: 50% !important;
    }

    .daily-weather-container {
        display: flex;
        justify-content: space-between;
    }

    .daily-weather {
        padding: 0px;
    }

    .weather-forecast .day {
        font-size: 1rem;
    }

    .weather-forecast .temps {
        font-size: 0.9rem;
    }
}