* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.hero {
    width: 100vw;
    height: 100vh;


    text-align: center;

    background-color: grey;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-inner {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    position: absolute;
    color: black; 
}

h1 {
    top: 20px;
    font-family: 'Major Mono Display', monospace;
    font-size: 2.5rem;
}

h2 {
    width: 80%;
    top: 50%;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.home-content {
    padding: 40px 20px;
    background-color: lightgrey;
}

.parks-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select2 {
    width: 100% !important;
    margin: 5px 0 !important;
}

.parks-form input {
    padding: 5px;
}

.hidden {
    display: none;
}

@media screen and (min-width: 375px) {
    h1 {
       font-size: 3.125rem; 
    }
    h2 {
        font-size: 1.875rem;
    }
}

@media (min-height: 800px) and (min-width: 375px) {
    h1 {
       top: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .home-content {
        padding: 5% 20%;
        background-color: lightgrey;
    }

    .select2 {
        width: 50% !important;
    }
}